<footer>
  <div class="row">
    <div class="small-12 column">
      <div class="row">
        <div class="elsewhere medium-4 columns">
          <h2><a href="https://pinboard.in/u:aapljack"><i class="fa-solid fa-link text-orange"></i> Elsewhere</a></h2>
          <div id="elsewhere">

          </div>
        </div>
        <div class="photo-album medium-4 columns">
          <h2><a href="https://instagram.com/aapljack"><i class="fa-solid fa-camera-retro text-orange"></i> Instagram</a></h2>
          <figure data-behold-id="YtDpcCW41nYtbeDQjMY8"></figure>
          <script src="https://w.behold.so/widget.js" type="module"></script>
        </div>

        <div class="music-chart medium-4 columns">
          <h2><a href="https://www.last.fm/user/aapljack"><i class="fa-solid fa-headphones-simple text-orange"></i> On Constant Rotation</a></h2>
          <div class="lastfm-chart"></div>
        </div>
      </div>
    </div>
  </div>
</footer>