<footer>
  <div class="row">
    <div class="small-12 column">
      <div class="row">
        <div class="elsewhere medium-4 columns">
          <h2><a href="https://pinboard.in/u:aapljack" title="Go to my pinboard page">Elsewhere</a></h2>
          <div id="elsewhere">

          </div>
        </div>
        <div class="photo-album medium-4 columns">
          <h2><a href="http://instagram.com/aapljack" title="Go to my Instagram page">Instagram</a></h2>
          <ul class="instagram"></ul>
        </div>

        <div class="music-chart medium-4 columns">
          <h2><a href="http://www.last.fm/user/aapljack" title="Go to my last.fm profile">On Constant Rotation</a></h2>
          <div class="lastfm-chart"></div>
        </div>
      </div>
    </div>
  </div>
</footer>